<form class="col-4" action="/list" method="post">
  <input
    class="p-1"
    name="search"
    type="search"
    placeholder="<%= placeholder %>"
  />
  <button class="p-1 rounded"><%= elementBtn %></button>
</form>
