.hover-bg-slate-900:hover {
  background-color: rgb(0, 11, 30);
}

.hover-bg-slate-200:hover {
  background-color: rgb(237, 237, 237) !important;
}

.bg-slate-700 {
  background-color: rgb(0, 19, 51) !important;
}

.bg-slate-200 {
  background-color: rgb(239, 239, 239) !important;
}

.transition-1000 {
  transition-duration: 1000ms;
}
.transition-delay-300 {
  transition-delay: 600ms;
}

.overlay {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: rgba(0, 0, 0, 0.419) !important;
}

.overlay:hover {
  cursor: default !important;
}

.modal-detail {
  margin-top: -150px !important;
  z-index: 10 !important;
  position: absolute !important;
  top: 40vh;
  left: 30vw;
}

.sidebarHidden {
  width: 100px !important;
  height: 100px !important;
  transition-duration: 1000ms !important;
}

.btn-close-sidebar {
  padding: 5px;
  border-radius: 10px;
  left: 200px;
}

.btn-open-sidebar {
  padding: 5px;
  border-radius: 10px;
  left: 60px;
  bottom: 40px;
}

#btnSidebar:hover {
  background-color: antiquewhite;
}

/* Importing fonts from Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Reseting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ecf0f3;
}

.wrapper {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
  width: 80px;
  margin: auto;
}

.logo img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7,
    -8px -8px 15px #fff;
}

.wrapper .name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #555;
}

.wrapper .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: #666;
  padding: 10px 15px 10px 10px;
  /* border: 1px solid red; */
}

.wrapper .form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
  color: #555;
}

.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: #03a9f4;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px;
}

.wrapper .btn:hover {
  background-color: #039be5;
}

.wrapper a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #03a9f4;
}

.wrapper a:hover {
  color: #039be5;
}

@media (max-width: 380px) {
  .wrapper {
    margin: 30px 20px;
    padding: 40px 15px 15px 15px;
  }
}
