<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- tittle %></title>
    <link rel="stylesheet" href="/assets/style/style.css" />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body>
    <%- body %>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
