<div class="wrapper">
  <div class="logo">
    <img src="/assets/img/logo-2.png" alt="" />
  </div>
  <div class="text-center mt-4 name">Rock Paper Scissor</div>
  <% if (!statusLogin) { %>
  <div
    class="alert alert-danger"
    style="
      background-color: rgb(253, 90, 90);
      margin: 10px;
      border-radius: 5px;
      padding: 4px;
    "
    role="alert"
  >
    Email dan password tidak valid!
  </div>
  <% } %>
  <form method="post" action="/login" class="p-3 mt-3">
    <%- include('../../components/input/index',{ type: "email", name: "email",
    id: "email", placeholder: "contoh@gmail.com" }) %> <%-
    include('../../components/input/index',{ type: "password", name: "password",
    id: "pwd", placeholder: "Password" }) %>
    <button class="btn mt-3">Masuk</button>
  </form>
  <div class="fs-6">
    <span>Belum punya akun?</span><br /><a href="/form">Daftar disini!</a>
  </div>
</div>
