<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style/style.css" />
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/headers/"
    />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title><%- tittle %></title>
  </head>
  <body class="bg-slate-200 p-3">
    <div class="row min-vh-100 container-fluid gap-4">
      <!-- SIDEBAR -->
      <div
        id="sidebar"
        class="col-2 pt-5 bg-black rounded-4 shadow position-relative transition-1000"
        style="height: 700px"
      >
        <%- include('../../components/sidebar/index') %>
        <button
          id="btnSidebar"
          class="position-absolute btn-close-sidebar fst-italic transition-1000 transition-delay-300"
        >
          Close
        </button>
      </div>
      <!-- END SIDEBAR -->
      <!-- CONTENT -->
      <div class="col-9 container-fluid gap-1">
        <!-- HEADER -->
        <div
          class="row bg-white position-relative rounded shadow bg-body mb-5 mt-3 p-2 justify-content-end"
        >
          <div class="col-2 me-auto align-self-center">
            <%- include('../../components/header/index') %>
          </div>
          <%- include('../../components/searchInput/index', {placeholder:
          'Search ...', elementBtn: 'Search'}) %>
           <% if (usersFilter.length !== 0 || usersFilter !== undefined) { %>
          <div class="flex position-absolute start-50 top-100 rounded w-25">
            <% usersFilter.forEach((user) => { %>

            <a
              href="/list/<%- user.name %>"
              class="d-block bg-white p-2 border-top border-dark rounded text-decoration-none text-black hover-bg-slate-200"
              ><%- user.name %></a
            >
            <% }) %>
          </div>
          <% } %>
          <div class="col-2">
            <%- include('../../components/dropdown/index') %>
          </div>
        </div>
        <!-- END HEADER -->
        <!-- BODY -->
        <div class="row bg-white rounded shadow bg-body mt-5 p-3">
          <%- body %>
        </div>
        <!-- END BODY -->
      </div>
      <!-- END CONTENT -->
    </div>
    <script src="/javascriptDom/index.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
