<div class="container-fluid p-2">
  <div class="header mt-2">
    <h1 class="text-center p-3 rounded bg-warning">Edit User</h1>
  </div>
  <div class="row section mt-5 rounded p-3 bg-black justify-content-center">
    <div class="w-75">
      <form action="/list?_method=PUT" class="row justify-content-center" method="post">
        <div class="col-4">
          <div>
            <input type="hidden" value="<%- user.id %>" name="id">
            <%- include('../../components/inputLabelValue/index', {name: 'name',
            type: 'text', id: 'name', placeholder: 'name', label: 'Name :',
            value: user.name}) %>
          </div>
          <div class="mt-4">
            <%- include('../../components/inputLabelValue/index', {name: 'username',
            type: 'text', id: 'username', placeholder: 'username', label:
            'Username :',value: user.user_game.username}) %>
          </div>
          <div class="mt-4">
            <%- include('../../components/inputLabelValue/index', {name: 'address',
            type: 'text', id: 'address', placeholder: 'address', label:
            'Address :', value: user.address}) %>
          </div>
          <div class="mt-4">
          <p class="text-white mb-0">Gender :</p>
          <div class="ms-5">
            <label for="laki" class="text-white">Male</label>
            <% if(user.gender === 'Male') { %>
              <input
                type="radio"
                id="laki"
                name="gender"
                value="Male"
                class="ms-4"
                checked
              />
            </div>
            <div class="ms-5">
              <label for="perempuan" class="text-white">Female</label>
              <input
                type="radio"
                id="perempuan"
                name="gender"
                class="ms-2"
                value="Female"
              />
            <% } else { %>

              <input
                type="radio"
                id="laki"
                name="gender"
                value="Male"
                class="ms-4"

              />
            </div>
            <div class="ms-5">
              <label for="perempuan" class="text-white">Female</label>
              <input
                type="radio"
                id="perempuan"
                name="gender"
                class="ms-2"
                value="Female"
                checked
              />
            <% } %>
          </div>
        </div>
        </div>
        <div class="col-4">
          <div>
            <%- include('../../components/inputLabelValue/index', { name: 'age',
            type:'number', id: 'age', placeholder: 'age', label:
            'Age :', value: user.age }) %>
          </div>
          <div class="mt-4">
            <%- include('../../components/inputLabelValue/index', { name: 'email',
            type:'email', id: 'email', placeholder: 'exsample@gmail.com', label:
            'Email :',value: user.user_game.email }) %>
          </div>
          <div class="mt-4">
            <%- include('../../components/inputLabelValue/index', { name: 'password',
            type:'password', id: 'password', placeholder: '', label: 'Password:',
            value: '' }) %>
          </div>
          <div class="mt-4">
            <%- include('../../components/inputLabelValue/index', { name:
            'confirmPassword', type:'password', id: 'confirmPassword',
            placeholder: '', label: 'Confirm Password :', value: '' }) %>
          </div>
        </div>
        <div class="mt-4 w-50">
          <label for="description" class="form-label text-white"
            >Deskription :</label
          >
          <input
            type="textarea"
            class="form-control"
            id="description"
            placeholder="description..."
            name="description"
            value="<%- user.description %>"
          />
        </div>
        <div class="row mt-5 justify-content-center gap-3">
            <a href="/list" class="col-2 btn btn-danger">Cancel</a>
            <button class="col-2 btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
