<div
  class="row w-100 mt-2 ms-1 bg-warning rounded shadow p-3 justify-content-end"
>
  <div class="col-3">
    <a href="/form">
      <button class="p-1 rounded bg-success text-white fw-bold fst-italic">
        + Add User
      </button>
    </a>
  </div>
</div>

<% if (!allUsers || allUsers.length === 0) { %>
<div class="alert alert-danger text-center mt-3 ms-1" role="alert">
  No Users data!!!
</div>
<% } else { %>
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% allUsers.forEach((user, index) => { %>
    <tr>
      <th scope="row"><%- index + 1 %></th>
      <td><%- user.name %></td>
      <td><%- user.username %></td>
      <td>
        <a href="/detail/<%- user.name %>">
          <button class="btn btn-success p-1">detail</button>
        </a>
      </td>
    </tr>
    <%}) %>
  </tbody>
</table>
<% } %>

<!-- Modal -->
<% users.forEach((user) => { %>
<a href="/list" class="overlay"> </a>
<div class="modal-detail d-flex flex-lg-column mx-auto w-50 bg-white rounded shadow p-2">
  <h2 class="text-center pt-3"><%- user.name %></h2>
  <hr />
  <div class="d-flex flex-row gap-5 justify-content-center position-relative p-2">
      <ul style="list-style-type: none" class="col-4">
        <li><span class="fw-bold">Email : </span><%- user.user_game.email %></li>
        <li><span class="fw-bold">Username : </span><%- user.user_game.username %></li>
        <li><span class="fw-bold">description : </span><%- user.description %></li>
        <li><span class="fw-bold">Gender : </span><%- user.gender %></li>
        <li><span class="fw-bold">Age : </span><%- user.age %> Years old</li>
        <li><span class="fw-bold">Address : </span><%- user.address %></li>
      </ul>
      <ul style="list-style-type: none" class="col-4">
        <li><span class="fw-bold">Winrate : </span><%- userHistory.winrate %></li>
        <li><span class="fw-bold">Win : </span><%- userHistory.win %></li>
        <li><span class="fw-bold">lose : </span><%- userHistory.lose %></li>
        <li>
          <span class="fw-bold">Triple Kill : </span><%- userHistory.triple_kill %>
        </li>
      </ul>
  </div>
  <div class="ms-auto mt-5">
    <a href="/form/<%- user.id %>" class="btn btn-primary">edit</a>
    <form action="/list?_method=DELETE" method="post" class="d-inline">
      <input type="hidden" name="idUser" value="<%- user.user_game.id %>">
      <button onclick="return confirm('Delete data <%- user.name %> ?')" class="btn btn-danger">delete</button>
    </form>
  </div>
  <a href="/list" class="btn btn-close position-absolute bg-danger" style="top: 10px; right: 10px;"></a>
</div>
<%}) %>
