<% dataListSidebar.map((data,i) => { %> <% if(tittle === data.label) { %> <%-
include('../itemSidebarLocation/index',{label: data.label, href: data.link}) %>
<% } else {%> <% if(tittle === 'detail' && i == 1) { %> <%-
include('../itemSidebarLocation/index',{label: data.label, href: data.link}) %>
<% } else { %> <%- include('../itemSidebar/index', {label: data.label, href:
data.link}) %> <% } %> <% } %> <% }) %>
