<div class="form-field d-flex align-items-center">
  <span class="far fa-user"></span>
  <input
    type="<%= type %>"
    name="<%= name %>"
    id="<%= id %>"
    placeholder="<%= placeholder %>"
    required
  />
</div>
