<div class="form-field d-flex flex-column">
  <label for="<%= id %>" class="form-label text-white"><%= label %></label>
  <input
    class="p-1 rounded"
    type="<%= type %>"
    name="<%= name %>"
    id="<%= id %>"
    placeholder="<%= placeholder %>"
    value="<%= value %>"
    required
  />
</div>
