<div
  class="row w-100 mt-2 ms-1 bg-warning rounded shadow p-3 justify-content-end"
>
  <% if (msg.length !== 0) { %>
  <div
    class="alert alert-success p-1 fw-bold fst-italic text-center col align-self-start"
    role="alert"
  >
    <%= msg %>
  </div>

  <% } %>
  <div class="col-3">
    <a href="/form">
      <button class="p-1 rounded bg-success text-white fw-bold fst-italic">
        + Add User
      </button>
    </a>
  </div>
</div>

<% if (!users || users.length === 0) { %>
<div class="alert alert-danger text-center mt-3 ms-1" role="alert">
  No Users data!!!
</div>
<% } else { %>
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach((user, index) => { %>
    <tr>
      <th scope="row"><%- index + 1 %></th>
      <td><%- user.name %></td>
      <td><%- user.user_game.username %></td>
      <td>
        <a href="/detail/<%- user.name %>">
          <button class="btn btn-success p-1">detail</button>
        </a>
      </td>
    </tr>
    <%}) %>
  </tbody>
</table>
<% } %>
